.jumbotron {
    text-align: center;
    background-color: rgb(173, 173, 173);
    color: rgb(167, 195, 248);
    border-radius: 0;
    border-bottom: 10px solid rgb(167, 195, 248);
  }
  .location{
    background-color: rgb(190, 196, 202);
  }
  .text{
    font-family: 'Acme', sans-serif;
  }
  .details{
    font-family: 'Open Sans', sans-serif;
  }
  .icon{
    max-width: 50px;
  }
  .forecast-card{
    background-color: rgb(167, 195, 248);
  }
